<form action="/users" method="post" class="form px-5 py-3 m-auto card text-center wrapper">
    <i class="fas fa-university fa-5x text-center my-2"></i>

    <small class="mb-2">Banco Digital de Chile</small>
    <h4 class=>Registro</h4>
    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese su nombre" name="first_name" id="first_name" value="Sheldon" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-user-circle"></i></span>
        <input class="form-control" placeholder="Ingrese su apellido" name="last_name" id="last_name" value="Cooper" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-envelope"></i></span>
        <input class="form-control" placeholder="Ingrese su correo" name="email" id="email" value="email@test.com" />
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-id-card"></i></span>
        <input class="form-control" placeholder="Ingrese su RUT" name="rut" id="rut" value="12.456.789-0" />
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center">
            <i class="fas fa-map-marker-alt"></i>

        </span>
        <input class="form-control" placeholder="Ingrese su dirección" name="address" id="address" value="Providencia, Santiago" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input class="form-control" type="password" placeholder="Ingrese su clave" name="password" id="password" value="123456" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text d-flex justify-content-center"><i class="fas fa-key"></i></span>
        <input class="form-control" type="password" placeholder="Confirme su clave" name="passwordConfirm" id="passwordConfirm"
            value="123456" />
    </div>

    <button type="submit" class="btn btn-light w-50 m-auto" data-mdb-ripple-color="dark">Registrarme</button>
    <a href="/" class="mt-2">Ingresar</a>
</form>

<script>
    const form = document.querySelector('.form')
    form && form.addEventListener('submit', register)

    async function register(e) {
        e.preventDefault()
        
        const expRUT = /^(\d{1,2}\.\d{3}\.\d{3}-)([kK]{1}$|\d{1}$)/
        const expEmail = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        
        const payload = Object.fromEntries(new FormData(e.target))

        if (payload.password !== payload.passwordConfirm) {
            alert("Las contraseñas deben ser iguales")

        } else if (!expRUT.test(payload.rut)) {
            alert("El RUT ingresado no cumple con el siguiente formato: 12.345.678-5")

        } else if (!expEmail.test(payload.email)) {
            alert("El email ingresado no cumple con el siguiente formato: email@test.com")

        } else {
            try {
                await axios.post(form.action, payload)
                alert(`Usuario registrado con éxito!, Bienvenid@ ${payload.first_name}, ahora intente iniciar sesión`)
                window.location = "/"

            } catch (e) {
                const { response } = e
                const { data } = response
                const { message } = data
                console.log(data)
                const {code, detail} = message
                alert(`Error SQL código ${code} ${detail}`)
            }
        }
    }
</script>
